.circulo{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--color-white);
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  top: -57px;
}

.btns-menu{
  display: flex;
  gap: 2rem;
}

.btn-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-img{
  margin: 22px;
  left: -100px;
  width: 50%;
  height: 50%;
}